
.inspector-form label {
  font-weight: 600;
  & > .required {
    display: none;
  }
}

.inspector-form input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
