/* Inspired by https://gist.github.com/jarthod/8719db9fef8deb937f4f */
.desktop {
  @apply h-[88dvh] aspect-[16/9];
  /* @apply max-h-[75dvh] aspect-[16/9] max-w-[85dvw] w-[80dvw]; */
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 0 0;
  background-color: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 0 0;
}

.desktopBar {
  @apply w-full h-10;
  position: relative;
  background: linear-gradient(to top, #CCC, #EEE);
  backdrop-filter: blur(10px);
  border-radius: inherit;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 1em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }

  &:after {
    display: block;
    position: absolute;
    content: attr(data-url);
    padding: 0.1em 0.8em;
    font-size: 1em;
    top: .4em;
    left: 5.5em;
    width: calc(100% - 6em);
    border-radius: 9999px;
    border: 1px inset rgba(0, 0, 0, 0.2);
    background-color: white;
  }
}


.handled {
  display: flex;
  background-color: #000;
  box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), inset 0 0 0 0.5px #000 ;
  /* transition: all .1s linear; */
  outline: 14px solid #000;
  border-radius: 24px;
}

.tablet{
  @apply h-[80dvh] aspect-[3/4];
}

.mobile {
  /* max-sm:w-[86dvw] md:w-[390px]*/
  @apply h-[88dvh] md:h-[70dvh] md:max-h-[800px] aspect-[9/19.5];
}


