.desktop {
  display: flex;
  height: 100dvh;
  width: calc(100dvw - 58px);
  margin-block: auto;
  overflow-y: auto;
}

.handled {
  display: flex;
  box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), inset 0 0 0 0.5px #000 ;
  /* transition: all .1s linear; */
  outline: 14px solid #000;
  border-radius: 24px;
  margin-block: auto;
  overflow: auto;
}

.tablet{
  height: 94dvh;
  max-height: 1024px;
  aspect-ratio: 1024/1366;
}

.mobile {
  height: 94dvh;
  max-height: 800px;
  aspect-ratio: 9/19.5;
}


