/* Inspired by https://gist.github.com/jarthod/8719db9fef8deb937f4f */
.desktop {
  /*  h-screen w-screen*/
  @apply bg-gray-100 dark:bg-gray-600 border border-gray-400 dark:border-gray-600      ;
  @apply h-screen w-screen;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.desktopBar {
  @apply w-full h-10 bg-gradient-to-t from-gray-300 to-gray-100 dark:from-dark-700 dark:to-dark-600;
  position: relative;
  /* background: linear-gradient(to top, #CCC, #EEE); */
  backdrop-filter: blur(10px);
  border-radius: inherit;

  /* buttons */
  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 1em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }
  /* address bar */
  &:after {
    display: block;
    position: absolute;
    content: attr(data-url);
    padding: 0.1em 0.8em;
    font-size: 1em;
    top: .36em;
    left: 5.5em;
    width: calc(100% - 6em);
    border-radius: 9999px;
    border: 1px inset rgba(0, 0, 0, 0.3);
    @apply bg-white dark:bg-dark-500 text-gray-800 dark:text-white/60;
  }
}


.handled {
  display: flex;
  background-color: #000;
  box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), inset 0 0 0 0.5px #000 ;
  /* transition: all .1s linear; */
  outline: 14px solid #000;
  border-radius: 24px;

}

.tablet{
  @apply h-[80dvh] aspect-[3/4] max-w-3xl;
}

.mobile {
  /* max-sm:w-[86dvw] md:w-[390px]*/
  @apply md:h-[70dvh] md:max-h-[800px] md:aspect-[9/19.5] max-sm:w-full max-sm:h-full max-sm:outline-none max-sm:shadow-none max-sm:rounded-none;
}


