/* add your custom styles here */

/* dark radial gradient from light gray at the center to black at the edges */
body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
/* gradient generator: https://csshero.org/mesher/ */
body > section:first-child {
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

body > section:nth-child(2) {
  background-color: #99c7ff;
  background-image: radial-gradient(at 86% 3%, hsla(33, 78%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 15%, hsla(210, 95%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 43%, hsla(57, 93%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 26%, hsla(51, 76%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 65%, hsla(106, 87%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 90%, hsla(319, 86%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 30% 74%, hsla(257, 89%, 65%, 1) 0px, transparent 50%);
}
