[data-group],
[data-editable] {
  position: relative;
}

/** Outline all over the parent **/
[data-editable]::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 3px dashed #8f93d8;
  outline-offset: 3px;
  border-radius: 0.2rem;
  user-select: none;
  transition:
    opacity 0.2s,
    scale 0.2s;
  scale: 0.94;
}

/* label */
[data-editable]::after {
  position: absolute;
  opacity: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: attr(data-label) " ";
  min-width: 3rem;
  height: 1.7rem;
  color: #fff;
  background-color: #8f93d8;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1rem;
  font-weight: 400;
  left: 2px;
  bottom: calc(100% + 3px);
  user-select: none;
  transition:
    opacity 0.2s,
    scale 0.2s;
  scale: 0.94;
}

[data-block-type="page"]::before {
  inset: 5px !important;
  outline-offset: 0 !important;
  transition-delay: 100ms;
  scale: 1 !important;
}
[data-block-type="page"]::after {
  bottom: calc(100% - 1.7rem - 2px);
  left: 2px;
  border-radius: 0.5rem 0 0.5rem 0;
  transition-delay: 100ms;
  scale: 1 !important;
}

[data-block-type="page"]:hover:not(:has(*:hover))::before {
  pointer-events: none;
}

[data-block-type="page"] {
  z-index: 2;
}

[data-editable].active::before,
[data-editable].active::after,
[data-editable]:hover:not(:has(*:hover))::before,
[data-editable]:focus::before,
[data-editable]:hover:not(:has(*:hover))::after,
[data-editable]:focus::after {
  opacity: 1;
  scale: 1;
}

[data-block-type="sections"] {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

[data-editor-ui] {
  z-index: 9999;
}
